.postImage {
    width: 300px;
    height: 300px;
}

.post {
    border: '1px solid #ccc';
    padding: '10px';
    margin: '10px 0';
    width: '300px';
    height: '300px';
    display: 'flex';
    justify-Content: 'space-between';
    align-items: 'center';
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
}

.close-button {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.custom-modal .modal-dialog {
    max-width: 80%;
    width: 80%; 
    height: auto;
    margin: 0 auto;
}

.custom-modal .modal-content {
    height: 500px;
    overflow-y: auto;
}

.commentsMapInfo {
    font-size: 10px;
}